@{
    ViewData["Title"] = "Add customers";
}
@model customer;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Customer</title>
</head>
<body>
    <div class="constainer mt-1">
        <h1>Add Customer</h1>
        <form method="post">
            <div class="form-group">
                <label>First Name</label>
                    <input asp-for="first_name" class="form-control"></input>
            </div>

            <div class="form-group">
                <label>Last Name</label>
                    <input asp-for="last_name" class="form-control"></input>
            </div>

            <div class="form-group">
                <label>Phone Number</label>
                    <input asp-for="phone" class="form-control"></input>
            </div>

            <div class="form-group">
                <label>Address</label>
                    <input asp-for="address" class="form-control"></input>
            </div>
            <button type="submit" class="btn btn-outline-success">Add</button>
            <button type="reset" class="btn btn-outline-warning">clear</button>


            @if(ViewBag.Message != null)
            {
                <script>
                    alert(`@ViewBag.Message`);
                </script>
            }

        </form>
    </div>

</body>
</html>
